# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf
exec
casosDeTeste/out/veiculo.bin
casosDeTeste/out/linha3.bin
Trabalho_OrgArq_2021-main/.gitignore
Trabalho_OrgArq_2021-main/main.c
Trabalho_OrgArq_2021-main/makefile
Trabalho_OrgArq_2021-main/casosDeTeste/csv/linha.csv
Trabalho_OrgArq_2021-main/casosDeTeste/csv/veiculo.csv
Trabalho_OrgArq_2021-main/casosDeTeste/teste/1.in
Trabalho_OrgArq_2021-main/casosDeTeste/teste/2.in
Trabalho_OrgArq_2021-main/casosDeTeste/teste/3.in
Trabalho_OrgArq_2021-main/casosDeTeste/teste/4.in
Trabalho_OrgArq_2021-main/casosDeTeste/teste/5.in
Trabalho_OrgArq_2021-main/casosDeTeste/teste/6.in
Trabalho_OrgArq_2021-main/casosDeTeste/teste/7.in
Trabalho_OrgArq_2021-main/casosDeTeste/teste/8.in
Trabalho_OrgArq_2021-main/casosDeTeste/teste/9.in
Trabalho_OrgArq_2021-main/casosDeTeste/teste/10.in
Trabalho_OrgArq_2021-main/casosDeTeste/teste/11.in
Trabalho_OrgArq_2021-main/casosDeTeste/teste/12.in
Trabalho_OrgArq_2021-main/casosDeTeste/teste/13.in
Trabalho_OrgArq_2021-main/casosDeTeste/teste/14.in
Trabalho_OrgArq_2021-main/casosDeTeste/teste/15.in
Trabalho_OrgArq_2021-main/casosDeTeste/teste/16.in
Trabalho_OrgArq_2021-main/casosDeTeste/teste/linha3_saida_esperada.bin
Trabalho_OrgArq_2021-main/casosDeTeste/teste/linha3.csv
Trabalho_OrgArq_2021-main/casosDeTeste/teste/linha7.bin
Trabalho_OrgArq_2021-main/casosDeTeste/teste/linha8.bin
Trabalho_OrgArq_2021-main/casosDeTeste/teste/linha11.bin
Trabalho_OrgArq_2021-main/casosDeTeste/teste/linha12.bin
Trabalho_OrgArq_2021-main/casosDeTeste/teste/linha15_saida_esperada.bin
Trabalho_OrgArq_2021-main/casosDeTeste/teste/linha15.bin
Trabalho_OrgArq_2021-main/casosDeTeste/teste/linha16.bin
Trabalho_OrgArq_2021-main/casosDeTeste/teste/veiculo1_saida_esperada.bin
Trabalho_OrgArq_2021-main/casosDeTeste/teste/veiculo1.csv
Trabalho_OrgArq_2021-main/casosDeTeste/teste/veiculo5.bin
Trabalho_OrgArq_2021-main/casosDeTeste/teste/veiculo6.bin
Trabalho_OrgArq_2021-main/casosDeTeste/teste/veiculo9.bin
Trabalho_OrgArq_2021-main/casosDeTeste/teste/veiculo10.bin
Trabalho_OrgArq_2021-main/casosDeTeste/teste/veiculo13_saida_esperada.bin
Trabalho_OrgArq_2021-main/casosDeTeste/teste/veiculo13.bin
Trabalho_OrgArq_2021-main/casosDeTeste/teste/veiculo14.bin
Trabalho_OrgArq_2021-main/source/binario/binario.c
Trabalho_OrgArq_2021-main/source/binario/binario.h
Trabalho_OrgArq_2021-main/source/csv/csv.c
Trabalho_OrgArq_2021-main/source/csv/csv.h
Trabalho_OrgArq_2021-main/source/linha/linha.c
Trabalho_OrgArq_2021-main/source/linha/linha.h
Trabalho_OrgArq_2021-main/source/utils/utils.c
Trabalho_OrgArq_2021-main/source/utils/utils.h
Trabalho_OrgArq_2021-main/source/veiculo/veiculo.c
Trabalho_OrgArq_2021-main/source/veiculo/veiculo.h
casosDeTeste/out/linha.csv
casosDeTeste/out/linha3.csv
casosDeTeste/out/linha7.bin
casosDeTeste/out/linha8.bin
casosDeTeste/out/linha11.bin
casosDeTeste/out/linha12.bin
casosDeTeste/out/linha16.bin
casosDeTeste/out/veiculo.csv
casosDeTeste/out/veiculo1.csv
casosDeTeste/out/veiculo5.bin
casosDeTeste/out/veiculo6.bin
casosDeTeste/out/veiculo9.bin
casosDeTeste/out/veiculo10.bin
casosDeTeste/out/veiculo14.bin
casosDeTeste/out/veiculo13.bin
casosDeTeste/out/veiculo13.bin
